.ProductListing {
  border-collapse: collapse;
  min-width: 70vh;
  margin-left: auto;
  margin-right: auto;
}

.ProductListing td,
.ProductListing th {
  border: 1px solid #dddddd;
  padding: 10px;
}

.ProductListing tr:nth-child(even) {
  background-color: #dcecf7;
}

.ProductListing tr:hover {
  background-color: #d3e5ff;
}

.ProductListing th {
  padding: 10px;
  text-align: left;
  background-color: #405fbb;
  color: white;
}
